@charset "utf-8";
@font-face{
	font-family:"apple-sd-gothic-neo-regular";
	src:url('../font/apple-sd-gothic-neo-regular.eot');
	src:url('../font/apple-sd-gothic-neo-regular.eot?#iefix') format('embedded-opentype'),
	url('../font/apple-sd-gothic-neo-regular.woff') format('woff');
	src:local(※), url('../font/apple-sd-gothic-neo-regular.woff') format('woff');
}
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,p,fieldset,span,a,img, h1,h2,h3,h4,h5 {margin:0;padding:0;}
ul, ol{list-style:none;}
.clearfix:after{overflow:hidden; content:""; display:block; clear:both;}
a:link, a:visited, a:hover, a:focus{text-decoration:none;}
img{vertical-align: top; border:none;width:100%;}
body{ background-color:#fff; font-size:1.2em;	line-height:1;font-family:'apple-sd-gothic-neo-regular',"돋움",Dotum,"굴림",Gulim,Verdana,AppleGothic,sans-serif;}
.ir{ display:block; text-indent:-9999em; height:0; }
.selectbox { position: relative; width: 200px; height: 40px; line-height: 40px; background: url() no-repeat 95% 50%; border: 1px solid #999; z-index: 1; }
.selectbox label { position: absolute; top: 0px; left: 5px; height: 40px; line-height: 40px; color: #999; z-index: -1; }
.selectbox select { width: 100%; height: 40px; line-height: 40px; font-family: inherit; border: 0; opacity: 0; filter:alpha(opacity=0); -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }
.popup{position:absolute; top:0; left:0; width:100%; height:100%;   display:none;}
.con_pop{ position:relative;  margin:0 auto; background:url(../img/loading.gif) center center no-repeat scroll;width:100%; height:50%;}
.pop{position:relative;     margin: 0 auto;}
.popup .bg{position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; }
.ir{left: -9999px; top:auto; width: 1px; height: 1px; overflow:hidden; position: absolute;}
.the_sights10{display:none;}

.web .con_main{width:640px; position:relative;margin:0 auto; overflow:hidden;}
.web .header{position:absolute;width:640px;margin:0 auto; z-index:99;}
.web #contents{ width:640px; margin:0 auto; height:82%; overflow:hidden; position:relative;}
.web .bottom{position:absolute;width:640px; margin:0 auto; bottom:0; z-index:100;}
.mobile .con_main{width:100%; position:relative;margin:0 auto; overflow:hidden;}
.mobile .header{position:absolute;width:100%;margin:0 auto; z-index:99;}
.mobile #contents{ width:100%; margin:0 auto; height:82%; overflow:hidden; position:relative;}
.mobile .bottom{position:absolute;width:100%; margin:0 auto; bottom:0; z-index:100;}


.intro{background:url(../img/intro.png) center center no-repeat scroll; background-size:100%;}
.wrap{background-color:#a0c0d7;display:none;}
.wrap_slide1, .wrap_slide2{background-color:#000;}
.header_null{width:100%;  padding-top:15.7004%}
.header .time{font-size:18px; font-weight:bold; color:#000;width: 100%; text-align:center; position:absolute; left:0; top:9%;}
.header .my_nick{font-size:27px; font-weight:bold; color:#000;width: 100%; text-align:center; position:absolute; left:0; top:54%;}
.keyboard{position:relative; background:url(../img/keyboard.png) 0 0 no-repeat scroll; padding-top:54.5893%; background-size:100%; overflow:hidden;}
.keyboard .list{position:absolute; top:0; left:0; width:100%; height:100%;}
.btn_key{ float:left; height:20.3539%; font-size:35px; text-align:center; display:block; background-color:#fff;padding:0 2%;color:#000;
-webkit-box-shadow: 0px 2px 0px 0px rgba(131,137,144,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(131,137,144,1);
box-shadow: 0px 2px 0px 0px rgba(131,137,144,1); 
-webkit-border-radius:10px; 
-moz-border-radius:10px;
border-radius:10px; margin:1.5% 0 0 1.2%}
.keyboard .list1{left:1.5%;}
.keyboard .list2{top: 25%;left: 6.3%;}
.keyboard .list3{top: 50%;left:15.3%;}
.keyboard .list4{top: 50%;left:1.5%;}
.keyboard .list5{top: 75%;left:1.5%;}
.btn_key:first-child{ margin:1.5% 0 0 0}
.btn_keyimg:first-child{ margin:1.5% 0 0 0}
.btn_key span{position:relative; top:28%;}
.btn_keyimg{ height:20.3539%;float:left;
 text-align:center; display:block; background-color:#9fb0c1;padding:0 2%;
-webkit-box-shadow: 0px 2px 0px 0px rgba(131,137,144,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(131,137,144,1);
box-shadow: 0px 2px 0px 0px rgba(131,137,144,1); 
-webkit-border-radius:10px; 
-moz-border-radius:10px;
border-radius:10px; margin:1.5% 0 0 1.2%;}
.text_bar{position:relative;}
.btn_send{width:9.6618%; position:absolute;     top: 16%;right: 1.5%;}
.question_txt{font-size:34px;  position:absolute;top: 30%;left: 12%;}
.current_date{position:relative;width:100%; margin-top:2%; display:none;}
.current_date .txt{color:#50606b;font-size:20px; text-align:center; background-color:#a0c0d7; margin:0 auto; width:33%;position:relative;}
.btn_send{display:none;}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.talk_yoon{position:relative;margin-top:5%;}
.psa{width:8.2125%; position:relative; top:0; left:1.5%;}
.psa_name{font-size:18px; font-weight:bold; color:#404d56; position:absolute; top:10%; left:12%;}
.talk_text{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; -webkit-box-shadow: 0px 3px 5px 0px rgba(150,180,202,1);-moz-box-shadow: 0px 3px 5px 0px rgba(150,180,202,1);box-shadow: 0px 3px 5px 0px rgba(150,180,202,1); 
			 padding:2%;line-height:1.4;font-size: 27px;}
.talk_text_yoon{background-color:#fff; position:absolute; top:50%; left:12%; margin-right:16.9420%; }
.talk_text_yoon .con_time_txt{position:absolute; bottom:0; left:100%; font-size:18px; color:#607381;}
.talk_text_yoon .time_txt{margin-left:5px;width:190%;}
.talk_yoon .tail_yoon{position:absolute; top:36px;left:10.5%; width:1.5297%}
.talk_me{position:relative;padding-top:5%; text-align:left}
.talk_text_me{background-color:#ffeb00; position:absolute; top:100%; right:4%; margin-left:15.9420%; }
.talk_text_me .con_time_txt{position:absolute; bottom:0; right:100%; font-size:18px; color:#607381;}
.talk_text_me .time_txt{width:200%;    position: relative;left: -110%; }
.talk_me .tail_me{position:absolute; top:130%;right:2.5%; width:1.5297%}
.cursor{display:none;}
.bottom_slide{position:absolute; bottom:0; left:0; width:100%;}
.portfolio{color:#fff; font-size:20px; line-height:1.2; margin:0 2%; }
.portfolio .title{display:none;}
.portfolio .txt{ padding-top:6%} 
.portfolio .link{ text-decoration:underline; color:#09F}
.swiper-pagination-bullet{margin:0 3px; background-color:#fff; opacity:1;}
.swiper-button-next, .swiper-button-prev{top:44%; display:none;}
.swiper-pagination-bullet-active{background-color:#fbe300; }
.btn_slide_close{color:#fff; font-size:25px; font-weight:bold; position:absolute; top:54%; right:5%;}




.mobile .header .time{font-size:2.8683vw}
.mobile .header .my_nick{font-size:4.1720vw;}
.mobile .btn_key{font-size:5.4758vw;}
.mobile .current_date .txt{font-size:3.125vw;}
.mobile .question_txt{font-size:5.3vw;}
.mobile .talk_text{font-size:4.2vw;}
.mobile .talk_text_yoon .con_time_txt{font-size:2.8683vw}
.mobile .talk_text_me .con_time_txt{font-size:2.8683vw}
.mobile .psa_name{font-size:2.8683vw}
.mobile .btn_slide_close{font-size:3.9vw}
.mobile .portfolio{font-size:3.4vw}